@use "app/styles/variables";
@use "app/styles/mixins" as mixins;
@use "@angular/material" as mat;
@use "sass:map";

$asset-sg-palette: map.set(mat.$m2-indigo-palette, 500, variables.$cyan-03);

$asset-sg-primary: mat.m2-define-palette($asset-sg-palette);
$asset-sg-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$asset-sg-warn: mat.m2-define-palette(mat.$m2-red-palette);

$asset-sg-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $asset-sg-primary,
      accent: $asset-sg-accent,
      warn: $asset-sg-warn,
    ),
  )
);
