:host {
  position: relative;
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #295969;
  padding-inline: 5px;
}

:host > .container,
:host > .container:active {
  position: relative;
  text-decoration: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.box > .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 58px;
  height: 40px;

  transition: ease-out 100ms;
  transition-property: color, background-color;
}

.box {
  position: absolute;
  width: 58px;
  min-width: 58px;
  left: 0;
  top: 9px;
  height: 40px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  border-radius: 4px;

  transition: ease-out 100ms;
  transition-property: color;
  background-color: transparent;
  color: #295969;

  & > .title {
    transform: scaleX(0);

    transition: ease-out 100ms;
    transition-property: transform;
    transform-origin: left;
  }
}

:host.is-active .box {
  background-color: #2e859d;
  color: white;
}

:host:hover:not([disabled]) .box {
  white-space: nowrap;
  min-width: unset;
  width: fit-content;
  padding-right: 22px;

  background-color: #295969;
  color: white;

  & > .title {
    transform: scaleX(1);
  }
}

:host[disabled] .box {
  opacity: 0.6;
}
