{
  "overrides": [
    {
      "files": ["*.js", "*.ts"],
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": ["*.component.html"],
      "options": {
        "parser": "angular"
      }
    }
  ]
}
