<ul class="submenu">
  <li
    *rxLet="(isAssetsActive$ | async) ?? false; let isActive"
    asset-sg-menu-bar-item
    icon="assets"
    [link]="[_translateService.currentLang]"
    (click)="isActive && toggleAssetDrawer()"
  >
    menuBar.filters
  </li>
  <li *ngIf="userExists$ | async" asset-sg-menu-bar-item icon="favourite" disabled>menuBar.favourites</li>
  <li
    *canCreate="AssetEditPolicy"
    asset-sg-menu-bar-item
    icon="add"
    [link]="[_translateService.currentLang, 'asset-admin', 'new']"
  >
    menuBar.createAsset
  </li>
</ul>

<div class="submenu">
  <li *adminOnly asset-sg-menu-bar-item icon="options" [link]="[_translateService.currentLang, 'asset-admin']">
    menuBar.settings
  </li>
  <li asset-sg-menu-bar-item icon="help" disabled>menuBar.help</li>
</div>
