<ul class="submenu">
  <li
    *rxLet="(isAssetsActive$ | async) ?? false; let isActive"
    asset-sg-menu-bar-item
    icon="assets"
    [link]="[_translateService.currentLang]"
    (click)="isActive && toggleAssetDrawer()"
  >
    menuBar.filters
  </li>
  <li *ngIf="userExists$ | async" asset-sg-menu-bar-item icon="favourite" disabled>menuBar.favourites</li>
  <li
    *canCreate="AssetEditPolicy"
    asset-sg-menu-bar-item
    icon="edit"
    [link]="[_translateService.currentLang, 'asset-admin']"
  >
    menuBar.admin
  </li>
  <li *adminOnly asset-sg-menu-bar-item icon="user-management" [link]="[_translateService.currentLang, 'admin']">
    menuBar.userManagement
  </li>
</ul>

<div class="submenu">
  <li
    *ngIf="userExists$ | async"
    asset-sg-menu-bar-item
    icon="profile"
    [link]="[_translateService.currentLang, 'profile']"
  >
    menuBar.profile
  </li>
  <li asset-sg-menu-bar-item icon="help" disabled>menuBar.help</li>
</div>
