@use "../../styles/mixins";
@use "../../styles/variables";

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80px;
  overflow: visible;
  z-index: 101;

  padding: 12px 6px;

  box-shadow: 0 2px 4px -1px #0000000f, 0 4px 10px -1px #00000014;
}

.submenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: visible;
}

.submenu > a {
  width: 68px;
  height: 58px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 500;
  color: variables.$grey-09;

  &[aria-disabled="true"] {
    cursor: default;
    color: variables.$grey-06;
  }

  &.active {
    color: variables.$dark-red;
  }

  &:hover:not(.active):not([aria-disabled="true"]) {
    color: variables.$red;
  }
}

span {
  @include mixins.text-ellipsis(2);
  max-width: 100%;
}
