@use "styles/variables";
@use "@angular/material" as mat;
@use "../theme" as *;

$app-bar-height: 88px;
$menu-bar-width: 80px;

:host {
  display: grid;
  background-color: white;
  position: relative;
}

asset-sg-app-bar {
  grid-area: app-bar;
}

asset-sg-menu-bar {
  grid-area: menu-bar;
}

.drawer-portal {
  position: absolute;
  top: $app-bar-height;
  left: $menu-bar-width;
  height: calc(100vh - $app-bar-height);
}

.router-outlet {
  grid-area: router-outlet;
  display: grid;
  router-outlet {
    display: none;
  }
}

@media screen and (min-width: 1194px) {
  :host {
    max-width: 1920px;
    margin: 0 auto;
    grid-template-areas: "app-bar app-bar" "menu-bar router-outlet";
    grid-template-rows: $app-bar-height calc(100vh - $app-bar-height);
    grid-template-columns: $menu-bar-width 1fr;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 60%);
    --viewport-width: min(calc(100vw - #{$menu-bar-width}), calc(1920px - #{$menu-bar-width}));
  }
}

.error {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 1 / -1;
  padding: 40px;
  align-items: center;
  font-size: 24px;
  font-weight: bolder;

  color: mat.get-color-from-palette($asset-sg-warn, 600);
}

.alerts {
  position: fixed;
  width: min(30rem, 95vw);

  bottom: 2rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  /// angular-cdk-overlay is at 1000, so we go to 1500.
  z-index: 1500;
}
