<ng-container *ngIf="errorService.onMessage | async as error; else splashScreen">
  <asset-sg-app-bar />
  <div class="error">
    <span>{{ error }}</span>
    <button asset-sg-warn (click)="authService.logOut()">Logout</button>
  </div>
</ng-container>

<ng-template #splashScreen>
  <ng-container *ngIf="(authService.state$ | async) !== AuthState.Success; else content">
    <app-splash-screen />
  </ng-container>
</ng-template>

<ng-template #content>
  <asset-sg-app-bar>
    <ng-template [cdkPortalOutlet]="appPortalService.appBarPortalContent$ | push"></ng-template>
  </asset-sg-app-bar>
  <asset-sg-menu-bar />
  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>
  <div class="drawer-portal">
    <ng-template [cdkPortalOutlet]="appPortalService.drawerPortalContent$ | push"></ng-template>
  </div>
</ng-template>

<div class="alerts">
  <ul app-alert-list></ul>
</div>
