<ng-container *ngIf="errorService.onMessage | async as error; else content">
  <asset-sg-app-bar />
  <div class="error">
    <span>{{ error }}</span>
    <button asset-sg-warn (click)="authService.logOut()">Logout</button>
  </div>
</ng-container>
<ng-template #content>
  <ng-container *ngIf="authService.state$ | async as authState">
    @if (authState === AuthState.Success || authState === AuthState.ForbiddenResource) {
      <asset-sg-app-bar>
        <ng-template [cdkPortalOutlet]="(appPortalService.appBarPortalContent$ | push) ?? ''"></ng-template>
      </asset-sg-app-bar>
      @if (shouldShowMenuBar) {
        <asset-sg-menu-bar />
      }
      <div class="router-outlet">
        @if (authState === AuthState.Success) {
          <router-outlet />
        } @else {
          <div class="forbidden">
            <h1 translate>resourceForbidden</h1>
            <p>403 - Forbidden</p>
          </div>
        }
      </div>
      <div class="drawer-portal">
        <ng-template [cdkPortalOutlet]="(appPortalService.drawerPortalContent$ | push) ?? ''"></ng-template>
      </div>
    } @else {
      <app-splash-screen />
    }
  </ng-container>
</ng-template>

<div class="alerts">
  <ul app-alert-list></ul>
</div>

@if (googleAnalyticsId$ | async; as id) {
  <app-google-analytics [id]="id" />
}
