h1 {
  color: black;
  font-weight: 500;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 24px 16px 24px;
}

.content {
  padding: 24px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 24px;
  align-items: center;
}
