.viewer {
  position: relative; // Add this line
  overflow: hidden;
  background-color: red;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  canvas {
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .toolbar {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: white;
    z-index: 10;
  }
}
