<div class="card">
  <img
    class="logo"
    src="../../../assets/swissgeol_assets.svg"
    alt="{{ 'logoSwissGeol' | translate }}"
    height="100"
    width="361"
  />
  <div class="text">
    <p class="welcome">{{ "welcomeTo" | translate }} {{ host }}</p>
    <p class="system">Assets</p>
  </div>
  <ng-container [ngSwitch]="authService.state$ | async">
    <ng-container *ngSwitchCase="AuthState.Ongoing">
      <mat-progress-spinner mode="indeterminate" />
    </ng-container>
    <ng-container *ngSwitchCase="AuthState.Aborted">
      <button asset-sg-primary (click)="authService.signIn()">
        {{ "login" | translate }}
      </button>
    </ng-container>
    <ng-container *ngSwitchCase="AuthState.AccessForbidden">
      <div class="alert">
        <p>
          {{ "accessForbidden" | translate }}
        </p>
        <button asset-sg-primary (click)="authService.logOut()">
          {{ "logout" | translate }}
        </button>
      </div>
    </ng-container>
  </ng-container>
  <ul class="languages">
    @for (info of languageInfos$ | async; track info.language) {
      <li [class.is-active]="info.isActive">
        <button (click)="selectLanguage(info.language)">{{ info.language }}</button>
      </li>
    }
  </ul>
</div>
