<div class="card">
  <img
    class="logo"
    src="../../../assets/swissgeol_assets.svg"
    alt="{{ 'logoSwissGeol' | translate }}"
    height="100"
    width="361"
  />
  <div class="text">
    <p class="welcome">{{ "welcomeTo" | translate }} {{ host }}</p>
    <p class="system">Assets</p>
  </div>
  @switch (authService.state$ | async) {
    @case (AuthState.Ongoing) {
      <mat-progress-spinner mode="indeterminate" />
    }
    @case (AuthState.Aborted) {
      <button asset-sg-primary (click)="authService.signIn()" data-testid="go-to-login">
        {{ "login" | translate }}
      </button>
    }
    @case (AuthState.AccessForbidden) {
      <div class="alert" data-testid="access-forbidden">
        <p>
          {{ "accessForbidden" | translate }}
        </p>
        <button asset-sg-primary (click)="authService.logOut()">
          {{ "logout" | translate }}
        </button>
      </div>
    }
  }
  <ul class="languages">
    @for (info of languageInfos$ | async; track info.language) {
      <li [class.is-active]="info.isActive">
        <button (click)="selectLanguage(info.language)">{{ info.language }}</button>
      </li>
    }
  </ul>
</div>
