@use "../../styles/variables";

:host {
  box-shadow: 0 4px 4px #00000029;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-inline: 16px;
}

a.logo {
  width: 130px;
  height: 36px;
}

.spacer {
  flex: 10;
}

.version {
  color: #828e9a;
}

button.profile {
  background-color: #295969;
  color: white;
  min-width: 36px;
  max-width: 36px;
  min-height: 36px;
  max-height: 36px;
  border-radius: 50%;

  & > ::ng-deep .mdc-button__label {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}

::ng-deep .profile + * .mat-mdc-menu-panel > .mat-mdc-menu-content {
  display: flex;
  flex-direction: column;

  & > div {
    padding: 8px 12px;
  }

  ::ng-deep button {
    width: 100%;
    color: #337083;
    border: 1px solid #337083;
    background-color: transparent;

    &:hover {
      background-color: #adc6cd;
    }
  }
}
