.error-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  padding: 40px;
  width: 100%;
  background-color: red;
  color: white;
  align-items: center;
  font-size: 24px;
  font-weight: bolder;
}
