name: Code Quality

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - "**"
      - "!main"

env:
  NODE_VERSION: "22.x"
  DB_USERNAME: postgres
  DB_PASSWORD: postgres
  DB_DATABASE: postgres
  DATABASE_URL: postgres://postgres:postgres@localhost:5432/postgres?schema=public

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Review Dependencies
        uses: actions/dependency-review-action@v4
        with:
          # https://github.com/advisories/GHSA-67mh-4wv8-2f99 (2025-02-11)
          # Blocks the upgrade to Angular 19. Issue is fixed in esbuild, but not in @nx/angular.
          # Vulnerability has been deemed largely inconsequential to our development process.

          # https://github.com/advisories/GHSA-x2rg-q646-7m2v (2025-05-13)
          # We do not use module federation, so this issue should not have any impact on us.
          allow-ghsas: >-
            GHSA-67mh-4wv8-2f99,
            GHSA-x2rg-q646-7m2v

  install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Get npm cache directory
        id: npm-cache-dir
        run: echo "dir=$(npm config get cache)" >> ${GITHUB_OUTPUT}
      - name: Cache npm
        uses: actions/cache@v4
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: "${{ runner.os }}-npm-${{ env.NODE_VERSION }}-${{ hashFiles('package-lock.json') }}"
          restore-keys: |
            ${{ runner.os }}-npm-
      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: ./node_modules
          key: "${{ runner.os }}-node_modules-${{ env.NODE_VERSION }}-${{ hashFiles('package-lock.json') }}-${{ hashFiles('**/schema.prisma') }}"
          restore-keys: |
            ${{ runner.os }}-node_modules-
      - name: Install node dependencies
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm install
      - name: Generate prisma types
        run: npm run prisma -- generate

  test:
    runs-on: ubuntu-latest
    needs: install
    services:
      db:
        image: postgis/postgis
        ports:
          - "5432:5432"
        env:
          POSTGRES_USER: ${{ env.DB_USERNAME }}
          POSTGRES_PASSWORD: ${{ env.DB_PASSWORD }}
          POSTGRES_DB: ${{ env.DB_DATABASE }}
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:8.12.1
        ports:
          - "9200:9200"
        env:
          ES_JAVA_OPTS: -Xms512m -Xmx512m
          xpack.security.enabled: false
          discovery.type: single-node
          cluster.routing.allocation.disk.threshold_enabled: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Restore cached node modules
        uses: actions/cache/restore@v4
        with:
          path: ./node_modules
          key: "${{ runner.os }}-node_modules-${{ env.NODE_VERSION }}-${{ hashFiles('package-lock.json') }}-${{ hashFiles('**/schema.prisma') }}"
      - name: Migrate database
        run: npm run prisma -- migrate deploy
      - name: Run tests
        run: npm run test

  lint:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Restore cached node modules
        uses: actions/cache/restore@v4
        with:
          path: ./node_modules
          key: "${{ runner.os }}-node_modules-${{ env.NODE_VERSION }}-${{ hashFiles('package-lock.json') }}-${{ hashFiles('**/schema.prisma') }}"
      - name: Run lint
        run: npm run lint
      - name: Run prettier
        run: npx prettier --check .

  # It would be cleaner and probably more performant to replace this build step
  # with either a non-emitting build or a simple type check.
  # We only have `build` available for now,
  # since the project is currently split across a multitude of small packages,
  # all of which have to specify their own commands.
  # (Daniel von Atzigen, 2024-04-12)
  build:
    runs-on: ubuntu-latest
    needs:
      - test
      - lint
      - dependency-review
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Restore cached node modules
        uses: actions/cache/restore@v4
        with:
          path: ./node_modules
          key: "${{ runner.os }}-node_modules-${{ env.NODE_VERSION }}-${{ hashFiles('package-lock.json') }}-${{ hashFiles('**/schema.prisma') }}"
      - name: Reset nx
        run: npx nx reset
      - name: Run build
        run: npm run build
  cypress:
    runs-on: ubuntu-latest
    needs:
      - test
      - lint
      - dependency-review
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Restore cached node modules
        uses: actions/cache/restore@v4
        with:
          path: ./node_modules
          key: "${{ runner.os }}-node_modules-${{ env.NODE_VERSION }}-${{ hashFiles('package-lock.json') }}-${{ hashFiles('**/schema.prisma') }}"
      - name: Install dos2unix
        run: sudo apt-get update && sudo apt-get install -y dos2unix
      - name: Start services
        env:
          DB_USER: ${{ env.DB_USERNAME }}
          DB_PASSWORD: ${{ env.DB_PASSWORD }}
        run: |
          cd development

          # OCR env file - needs to exist for the OCR service to start.
          touch .env.ocr

          # Ensure that the elasticsearch initialization script is executable.
          dos2unix ./init/elasticsearch/init.sh
          chmod +x ./init/elasticsearch/init.sh
          chmod +r ./init/elasticsearch/mappings/swissgeol_asset_asset.json

          # Start all required services.
          docker compose up -d --quiet-pull db oidc elasticsearch ocr dataextraction storage createbuckets

          # Wait for the services to run.
          chmod +x ../.github/scripts/wait_for_service.sh
          ../.github/scripts/wait_for_service.sh db
          ../.github/scripts/wait_for_service.sh storage
          ../.github/scripts/wait_for_service.sh elasticsearch
          ../.github/scripts/wait_for_service.sh oidc
      - name: Migrate database
        run: |
          set -e
          npm run prisma -- migrate reset --force
          cd development
          docker compose exec db sh -c '
            for file in /docker-entrypoint-initdb.d/*.sql; do
              psql --dbname=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB} -v ON_ERROR_STOP=1 -f $file
            done
          '
      - name: Create fixtures
        run: |
          set -e
          if ! npm run api-command -- fixtures:create; then
            cd development
            docker compose logs dataextraction
            exit 1
          fi
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          command: |
            npm run cypress:run -- \
              --browser edge \
              --record \
              --key ${{ secrets.CYPRESS_RECORD_KEY }} \
          start: npm start
          wait-on: "http://localhost:4200"
          wait-on-timeout: 120
        env:
          TZ: Europe/Zurich
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CYPRESS_SKIP_E2E_SETUP: true
      - name: Stop services
        if: always()
        run: |
          cd development
          docker compose down
